html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
}

#app {
  margin: auto;
  font-family: monospace;
}

.app-form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.app-form__input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.app-form__input {
  margin-left: 5px;
}

.app-back-button {
  margin-right: auto;
  margin-bottom: 10px;
}
